name: Build Docker Images


on:
  schedule:
    - cron: '33 5 * * 0'
  push:
    branches: [ master ]
  workflow_dispatch:

env:
  DOCKER_REGISTRY: hub.docker.com
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Docker Setup Buildx
        uses: docker/setup-buildx-action@v1.6.0
        
      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Build and push Docker image with Buildx (don't push on PR)
      # https://github.com/docker/build-push-action
      - name: Build and push Docker image
        uses: docker/build-push-action@2.7.0
        with:
          file: 14.04
          tags: marsfan/d1-tina-buildenv:14.04
